#intro {
  color: seagreen;
  border: 4px dashed teal;
}

#fam {
  color: seagreen;
  border: 4px dashed teal;
}

#friends {
  color: seagreen;
  border: 4px dashed teal;
}

#sports {
  color: seagreen;
  border: 4px dashed teal;
}
